
:root {
  --background-bright: #F5F5F5;
  --Primary-accent-bright: #1A237E;
  --secondary-accent-bright: #FF7043;
  --text-bright:#333333;
  --card-background-bright: #FFFFFF;
  --hover-bright: #64B5F6;

  --background-dark: #121212;
  --Primary-accent-dark: #64B5F6;
  --secondary-accent-dark: #FF6F61;
  --text-dark:#E0E0E0;
  --card-background-dark: #1E1E1E;
  --hover-dark: #4FC3F7;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-dark{
color: var(--text-dark);
}
.App-bright{
color: var(--text-bright);
}
#sidNav-bright{
  width: 20vw;
  padding: 10px;
  height: 100vh;
  background-color: var(--background-bright);
}
#sidNav-dark{
  width: 20vw;
  padding: 10px;
  height: 100vh;
  background-color: var(--background-dark);  
}
#logoName{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}
.App-logo {
  height: 5vmin;
  margin-left: 3px;
  margin-right: 10px;
  pointer-events: none;
}

#optionsContainer{
 margin-top: 10%;
 height: 60vh;

}
.option-bright{
  height: 10%;
  display: flex;
  flex-direction: row ;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
}
.option-dark{
  height: 20%;
  display: flex;
  flex-direction: row ;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  color:var(--text-dark);
}
.option-bright:hover{
  background-color: var(--hover-bright);
  cursor: pointer;
}
.option-dark:hover{
  background-color: var(--hover-dark);
  cursor: pointer;
}

.option-icon{
  height: 5vmin;
  margin-right: 15px;
  margin-left: 3px;
  fill: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
